{
    "tabWidth": 4,
    "printWidth": 5000,
    "twigPrintWidth": 5000,
    "twigMultiTags": ["with,endwith"],
    "twigAlwaysBreakObjects": false,
    "twigSingleQuote": false,
    "overrides": [
        {
            "files": ["*.jinja", "*.django", "**/views/**/*.html"],
            "options": {
                "parser": "melody"
            }
        }
    ],
    "plugins": [
        "/fullpath of this package/....../node_modules/prettier-plugin-django"
    ]
}
